.main_p{
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 32px;

    a{
        text-decoration: none;
        color: #c8c8c8;
    }

    
}

.about_text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 120px !important;

    .about_cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        h1{
            font-family: 'Manrope';
            font-size: 64px;
            font-weight: 700;
            line-height: 70px;
            color: #454545;
        }

        .about_card{
            display: flex;
            flex-direction: column;
            background-color: #F2F2F2;
            padding: 32px;
            border-radius: 15px;
            gap: 83px;

            .p1{
                font-family: 'Manrope';
                font-size: 64px;
                font-weight: 700;
                line-height: 22px;
                color: #454545;

            }

            .p2{
                font-family: 'Manrope';
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                color: #454545;

            }

        }
    }
    
    .about_p{
        max-width: 640px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        p{
            font-family: 'Manrope';
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #454545;
        }
    }
}

.img_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 900px){
    main_p{
        display: flex;
        gap: 12px;
        align-items: center;
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 32px;
    
        a{
            text-decoration: none;
            color: #c8c8c8;
        }
    
        
    }
    
    .about_text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        gap: 50px !important;
    
        .about_cards{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
    
            h1{
                font-family: 'Manrope';
                font-size: 50px !important;
                font-weight: 700;
                line-height: 70px;
                color: #454545;
            }
    
            .about_card{
                display: flex;
                flex-direction: column;
                background-color: #F2F2F2;
                padding: 32px;
                border-radius: 15px;
                gap: 83px;
    
                .p1{
                    font-family: 'Manrope';
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 22px;
                    color: #454545;
    
                }
    
                .p2{
                    font-family: 'Manrope';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 36px;
                    color: #454545;
    
                }
    
            }
        }
        
        .about_p{
            max-width: 640px;
            display: flex;
            flex-direction: column;
            gap: 25px;
    
            p{
                font-family: 'Manrope';
                font-size: 16px !important;
                font-weight: 500;
                line-height: 30px;
                color: #454545;
            }
        }
    }
    
    .img_card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 700px){
    main_p{
        display: flex;
        gap: 12px;
        align-items: center;
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 32px;
    
        a{
            text-decoration: none;
            color: #c8c8c8;
        }
    
        
    }
    
    .about_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
        gap: 50px !important;
    
        .about_cards{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
    
            h1{
                font-family: 'Manrope';
                font-size: 50px !important;
                font-weight: 700;
                line-height: 70px;
                color: #454545;
            }
    
            .about_card{
                display: flex;
                flex-direction: column;
                background-color: #F2F2F2;
                padding: 32px;
                border-radius: 15px;
                gap: 83px;
    
                .p1{
                    font-family: 'Manrope';
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 22px;
                    color: #454545;
    
                }
    
                .p2{
                    font-family: 'Manrope';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 36px;
                    color: #454545;
    
                }
    
            }
        }
        
        .about_p{
            max-width: 640px;
            display: flex;
            flex-direction: column;
            gap: 25px;
    
            p{
                font-family: 'Manrope';
                font-size: 16px !important;
                font-weight: 500;
                line-height: 30px;
                color: #454545;
            }
        }
    }
    
    .img_card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}