.admin_wrap{
    display: flex;
    
    
    .admin_nav{
        position: sticky;
        top: 0;
        left: 0;
        background-color: #454545;
        color: white;
        padding: 50px 70px;
        height: 100vh;
        width: 100%;
        max-width: 400px;

        h1{
            font-family: 'Manrope';
            font-size: 28px;
            font-weight: 600;
            line-height: 38px;
            margin-bottom: 38px;
        }

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 500px;
            
            a{
                text-decoration: none;
                color: white;
                padding: 8px 12px;
                border-radius: 8px;

                li{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-family: 'Manrope';
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 25px;

                    .icon{
                        font-size: 24px;

                    }
                }
            }
            a:hover{
                background-color: #FFFFFF33;
                transition: .2s;
            }
        }

        .logout_btn{
            display: flex;
            align-items: center;
            
            a{
                text-decoration: none;
                color: white;
                font-family: 'Manrope';
                font-size: 18px;
                font-weight: 600;
                line-height: 38px;
                margin-bottom: 24px;
            }
        }
    }
}