.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  !important ;
    margin-bottom: 70px;
    padding: 40px;
    gap: 30px;

    

    a{
        text-decoration: none;
        color: black;
        
    }
    
    .card{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 40px;
        gap: 11px;
        

        .img{
            display: flex;
            align-items: start;
            img{
                
                max-width: 173px;
                height: 173px;
            }
        }

        .img_icon{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 20px;
            z-index: 10;
        }

        .img_icon:hover{
            transform: scale(1.3);
            transition: .1s;
        }

        .card_text{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 100%;
            gap: 8px;
            
            h3{
                font-family: 'Manrope';
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
            }
            .text{
                display: flex;
                align-items: end;
                justify-content: space-between;
                width: 100%;
                gap: 8px;

                p{
                    font-family: 'Manrope';
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    del{
                        font-family: 'Manrope';
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #8B8E99;
                    }
                }

            }
            
            
        }
        .btn_cart{
            font-size: 20px;
            padding: 9px 20px;
            background-color: #454545;
            color: white;
            border-radius: 100px;
            border: 1px solid #454545;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 40px;
            right: 20px;
        }
        .btn_cart:hover{
            background-color: white;
            color: #454545;
            transition: .2s;
        }

        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;

            button{
                font-size: 20px;
                padding: 9px 20px;
                background-color: #454545;
                color: white;
                border-radius: 100px;
                border: 1px solid #454545;
                display: flex;
                align-items: center;
            }
            button:hover{
                background-color: white;
                color: #454545;
                transition: .2s;
            }
        }
        
    }

    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: .2s;
    }
}
